#boardcontainer
  %span.boardcontainer-item.comment-styled
    %a.inline-block{href: '/'}
      danger/u/
    = '['
    = link_to 'search', '/search', class: 'boardcontainer-item inline-block'
    = '/'
    = link_to 'a', '/a', class: 'boardcontainer-item inline-block'
    = '/'
    = link_to 'burg', '/burg', class: 'boardcontainer-item inline-block'
    = '/'
    = link_to 'cyb', '/cyb', class: 'boardcontainer-item inline-block'
    = '/'
    = link_to 'd', '/d', class: 'boardcontainer-item inline-block'
    = '/'
    = link_to 'lain', '/lain', class: 'boardcontainer-item inline-block'
    = '/'
    = link_to 'mu', '/mu', class: 'boardcontainer-item inline-block'
    = '/'
    = link_to 'new', '/new', class: 'boardcontainer-item inline-block'
    = '/'
    = link_to 'tech', '/tech', class: 'boardcontainer-item inline-block'
    = '/'
    = link_to 'test', '/test', class: 'boardcontainer-item inline-block'
    = '/'
    = link_to 'u', '/u', class: 'boardcontainer-item inline-block'
    = '/'
    = link_to 'v', '/v', class: 'boardcontainer-item inline-block'
    = '/'
    = link_to 'all', '/all', class: 'boardcontainer-item inline-block'
    = '/'
    = link_to 'popular', '/popular', class: 'boardcontainer-item inline-block'
    = ']'
%hr/
