= image_tag 'logo.png', id: 'header', alt: 'danger/u/', class: 'header-unbound'

#index-news
  %span.comment Latest news:
  %span.redtext 18/02/22: Song-chan's in trouble! If you can spare it, please help: https://dangeru.us/u/thread/828545

%br/

#maincontainer
  #index-boards
    = link_to 'Anime & Manga', '/a', class: 'boarda comment-styled'
    = link_to 'Burg', '/burg', class: 'boarda comment-styled'
    = link_to 'Cyberpunk Life', '/cyb', class: 'boarda comment-styled'
    = link_to 'Doujin', '/d', class: 'boarda comment-styled'
    = link_to 'Cyberpunk', '/lain', class: 'boarda comment-styled'
    = link_to 'Music', '/mu', class: 'boarda comment-styled'
    = link_to 'News & Politics', '/new', class: 'boarda comment-styled'
    = link_to 'Technology', '/tech', class: 'boarda comment-styled'
    = link_to 'Awoo Testing Grounds', '/test', class: 'boarda comment-styled'
    = link_to 'Random', '/u', class: 'boarda comment-styled'
    = link_to 'Video Games', '/v', class: 'boarda comment-styled'
    = link_to 'All', '/all', class: 'boarda comment-styled'
