!!! 5
%html{lang: I18n.locale}
  %head
    %meta{charset: 'utf-8'}/
    %meta{content: 'width=device-width,initial-scale=1', name: 'viewport'}/

    / Load the CSRF and CSP tags
    = csrf_meta_tags
    = csp_meta_tag

    / Show site generator and current Git revision
    %meta{content: "lunaisnotaboy/awoo @ #{current_revision}", name: 'generator'}/

    / Set the page title and description
    %title= page_title(@title)
    %meta{content: page_description(@description), name: 'description'}/

    / Load the main stylesheet
    = stylesheet_link_tag 'application', media: 'all'

  %body
    = yield

    = render partial: 'layouts/footer'
